@using A_LIÊM_SHOP.ViewModels
@{
    List<OrderGHNViewModel> orders = ViewBag.Orders as List<OrderGHNViewModel> ?? new List<OrderGHNViewModel>();

}

<div class="listright">
	<h2>Manager Order</h2>


	<table class="table">
        <thead>
            <tr>
                <th scope="col">ToName</th>
                <th scope="col">ToPhone</th>
                <th scope="col">ToAddress</th>
                <th scope="col">Order Create Date</th>
                <th scope="col">CodAmount</th>
                <th scope="col">Status</th>
                <th scope="col">Detail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in orders)
            {
                <tr>
                    <td>
                        @item.ToName
                    </td>
                    <td>
                        @item.ToPhone
                    </td>
                    <td>
                        @item.ToAddress
                    </td>
                    <td>
                        @item.CreateDate
                    </td>
                    <td>
                        <h5>$@item.CodAmount</h5>
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        
                       <button onclick="window.location.href='@Url.Action("Detail", "Order", new { area = "Saler", orderCode = @item.OrderCode})'">
                                Detail
                            </button>
                    </td>

                </tr>
            }
        </tbody>

	</table>

</div>
