 @model IEnumerable<A_LIÊM_SHOP.Models.Order>
@{
    ViewData["Title"] = "Order Page";
}
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Order History</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="~/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Order History</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Address</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Phone
                                </td>
                                <td>
                                    @item.Address
                                </td>
                                <td>
                                    @item.OrderDate
                                </td>
                                <td>
                                    <h5>$@item.TotalAmountBefore</h5>
                                </td>
                                <td>
                                    @item.OrderStatus
                                </td>
                                <td>
                                    <a onclick="window.location.href='@Url.Action("Detail", "Order", new { id = @item.Id})'; return false;"
                                      type="button">
                                        <i class="lnr lnr-eye" style="font-size:20px;cursor:pointer"></i>
                                    </a>
                                </td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
