@model IEnumerable<A_LIÊM_SHOP.Models.Order>

@{
    ViewData["Title"] = "Index";
}
<div class="listright">
<h1>Index</h1>

<table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Order Date</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col">Detail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        @item.OrderDate
                    </td>
                    <td>
                        <h5>$@item.TotalAmountBefore</h5>
                    </td>
                    <td>
                        @item.OrderStatus
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Order" asp-area="Admin" asp-route-id="@item.Id">
                            <button class="btn btn-primary">Detail</button>
                        </a>
                    </td>

                </tr>
            }
        </tbody>
</table>
</div>
